<!DOCTYPE html>
<html>
<head th:replace=" common/header :: common-head">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div th:replace="common/header :: nav-bar"></div>
 <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3" th:text="${agence.name}">Services
      <small>Subheading</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">Services</li>
    </ol>

    <!-- Image Header -->
    <img class="img-fluid rounded mb-4" src="http://placehold.it/1200x300" alt="">
    
    <ul class="list-group list-group-flush">
	  <li class="list-group-item">Name :<small th:text="${agence.name}"></small></li>
	  <li class="list-group-item">Email :<small th:text="${agence.email}"></small></li>
	  <li class="list-group-item">Adresse :<small th:text="${agence.adresse}"></small></li>
	  
	</ul>

    <!-- Marketing Icons Section -->
    <div class="row">
      <div  th:each="logement :${agence.logement} "class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header" th:text="${logement.libelle}"></h4>
          <div class="card-body">
          <ul class="list-group list-group-flush">
	  <li class="list-group-item">Name :<small th:text="${logement.prix}"></small></li>
	  <li class="list-group-item">Email :<small th:text="${logement.surface}"></small></li>
	  <li class="list-group-item">Adresse :<small th:text="${logement.description}"></small></li>
	  
	</ul>
           
          </div>
          <div class="card-footer">
            <a th:href="@{edit(id=${logement.id},ag=${agence.id})}" class="btn btn-secondary mx-2">Edit</a>
            <a th:href="@{delete(id=${logement.id})}" class="btn btn-primary mx-2">Delete</a>
          </div>
        </div>
      </div>
      </div>
      
      <div class="row my-5">
      <a th:href="@{ajoutlogement(ag=${agence.id})}" class="btn btn-primary mx-2">Ajouter logement</a>
      </div>
      
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>


<div th:replace="common/header :: bottom-script"></div>
</body>
</html>