<!DOCTYPE html>
<html>
<head th:fragment="common-head">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Modern Business - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/modern-business.css" rel="stylesheet">

</head>
<body>
<div th:fragment="nav-bar">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">Start Bootstrap</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" th:if="!${login}">
            <a class="nav-link" th:href="@{index}">Home</a>
          </li>
          <li class="nav-item" th:if="!${login}">
            <a class="nav-link" th:href="@{affiche}">Logement</a>
          </li>
          <li class="nav-item" th:if="!${login}">
            <a  class="nav-link" th:href="@{account}">Account</a>
          </li>
         
          <li class="nav-item" th:if="${login}" th:switch="${role}">
            <a  class="nav-link" th:case="'client'" th:href="@{profile}">profile</a>
            <a  class="nav-link" th:case="'agence'" th:href="@{profileagence}">profile</a>
          </li>
          <li class="nav-item" th:if="${login}" th:switch="${role}">
            <a  class="nav-link" th:case="'client'" th:href="@{affiche}">logement</a>
            <a  class="nav-link" th:case="'agence'" th:href="@{affichercommande}">commande</a>
          </li>
           <li class="nav-item" th:if="${login}">
            <a  class="nav-link" th:href="@{logout}">logout</a>
          </li>
          
         </ul>
      </div>
    </div>
  </nav>
</div>


<div th:fragment="bottom-script">
 <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</div>



</body>
</html>